html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wh-100 {
    width: 100%;
}

.span-error {
    color: #ba2525;
    margin-bottom: 12px;
    font-size: 14px;
}
.flex,
.flex-center,
.flex-column,
.flex-space {
    display: flex;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.flex-space {
    justify-content: space-between;
}

.center-message {
  left: 50% !important;
  transform: translateX(-50%) !important;
}
.text-muted {
    color: #00111f;
    font-size: 0.875rem;
    background-color: #d2eaff;
    padding: 2px 10px;
    border-radius: 10px;
}
.text-mini {
    color: #565656;
    font-size: 0.800rem;
}
.large-icon .el-icon {
  font-size: 30px;
}